
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63461.48456051044!2d106.78726774237379!3d-6.218447847572715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1462d85da0f%3A0xbe87cf3aa3c8dec2!2sBinus%20International%20University%20JWC%20Campus!5e0!3m2!1sen!2skh!4v1623343775965!5m2!1sen!2skh" width="1200" height="650" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<style>
    img{
        width:300px;
        height:400px;
    }
</style>
<section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        <div class="col-md-4">
          <img src="https://www.marianodivaio.com/themes/jms_minimal/assets/img/home/slot-2-q.png" alt="" class="rounded-circle mb-3">
          <h4>Kyle Brown</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (555)-555-5555</p>
          <p>
            <i class="fas fa-envelope-open"></i> kyle@btrealestate.co</p>
        </div>

        <div class="col-md-4">
          <img src="https://m.media-amazon.com/images/M/MV5BNmFjNTcyZGEtMjgwMy00MmVmLWEzN2ItYjJlMzRmYTNkYzk5XkEyXkFqcGdeQXVyMjgyMjcyOTg@._V1_UY1200_CR85,0,630,1200_AL_.jpg" alt="" class="rounded-circle mb-3">
          <h4>Mark Hudson</h4>
          <p class="text-success">Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (444)-444-4444</p>
          <p>
            <i class="fas fa-envelope-open"></i> mark@btrealestate.co</p>
        </div>

        <div class="col-md-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Miss_Universe_2015_Pia_Wurtzbach_071816_%28cropped%29.jpg" alt="" class="rounded-circle mb-3">
          <h4>Jenny Johnson</h4>
          <p class="text-success">Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> (333)-333-3333</p>
          <p>
            <i class="fas fa-envelope-open"></i> jenny@btrealestate.co</p>
        </div>
      </div>
    </div>
  </section>