<div class="card">

  <div class="card-img-wrapper">
    <img class="card-img-top" src="assets/images/house1.jpg">
    <!-- <ul class= "list-inline text-center member-icons">
      <li class= "list-inline-item">
        <button class="btn btn-primary">View Details</button>
      </li>
    </ul> -->
  </div>

  <div class="card-body p-2">
    <h1>{{property.Location}}</h1>
    <h2>{{property.Price}}</h2>
    <h3>{{property.Beds}}</h3>
    <h4>{{property.Baths}}</h4>
    <h5>{{property.sqft}}</h5>

    <ul class= "list-inline text-center member-icons">
      <li class= "list-inline-item">
        <button class="btn btn-primary">View Details</button>
      </li>
    </ul>

  </div>
</div>



