.card {
  min-height: 600px;
}

* {
  font-family: "Roboto";
}

.card-title{
  text-align: center;
}

.card img {
  height: 250px;
}

.property-price {
  text-align: center;
}

.price {
  font-weight: bold;
}

.time {
  color: #888782;

}

.property-baths {
  float: right;
  margin-right: 15px;
}

.property-beds {
  margin-left: 15px;
}

.sqft-row{
  display: block;
  margin-left: 15px;
}

.overview {
  padding: 5px 15px;
}

.overview-heading {
  color: #0C6170;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.contactCol{
  text-align: center;
}

.card-title{
  padding-top: 10px;
}

i {
  font-family: none;
}

.landlord-name{
  color: red;
}
