.card {
  min-height: 600px;
}

* {
  font-family: "Roboto";
}

.card-title{
  text-align: center;
}

.property-price {
  text-align: center;
}

.price {
  font-weight: bold;
}

.time {
  color: #888782;

}

.property-baths {
  float: right;
  margin-right: 15px;
}

.property-beds {
  margin-left: 15px;
}

.sqft-row{
  display: block;
  margin-left: 15px;
}
