<div class="row shadow">

  <div class="col-sm-4 p-0">

    <div class="card">
      <div class="card-img-wrapper">
        <img src="assets\images\{{property.Image}}.jpg" class="card-img-top">
      </div>
      <div class="card-body">
        <h3 class="card-title">{{property.Name}}</h3>

        <p class="property-price">
          <span class="currency">IDR </span>
          <span class="price">{{property.Price}}</span>
          <span class="time">/ per month</span>
        </p> <hr>

        <div>
          <strong>Condition: </strong>
          {{property.Condition}}
        </div>

        <div>
          <strong>Parking: </strong>
          {{property.Parking}}
        </div>

        <div>
          <strong>Pool: </strong>
          {{property.Pool}}
        </div>

        <div>
          <strong>AC: </strong>
          {{property.AC}}
        </div>

      </div>

      <div class="card-footer">

      </div>

    </div>

  </div>

  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">

<!-- Overview Tab -->
        <tab heading="Overview">

          <h4 class="overview-heading overview">Overview</h4>

          <div class="row overview">

            <div class="col-sm-6">
              <div class="heading">
                <strong>Property Location:</strong>
                <p>{{property.Location}}</p>
              </div>

              <div class="heading">
                <strong>Property Type:</strong>
                <p>{{property.Type}}</p>
              </div>

              <div class="heading">
                <strong>Property Style:</strong>
                <p>{{property.Style}}</p>
              </div>

              <div class="heading">
                <strong>Year Built:</strong>
                <p>{{property.YearBuilt}}</p>
              </div>

            </div>


            <div class="col-sm-6">
              <div class="heading">
                <strong>Number of Bedrooms:</strong>
                <p>{{property.Beds}}</p>
              </div>

              <div class="heading">
                <strong>Number of Bathrooms:</strong>
                <p>{{property.Baths}}</p>
              </div>

              <div class="heading">
                <strong>Lot:</strong>
                <p>{{property.Lot}}</p>
              </div>

              <div class="heading">
                <strong>Sqft:</strong>
                <p>{{property.Sqft}}</p>
              </div>

            </div>

            <div class="col-sm-12">
              <div class="heading">
                  <strong>About Property</strong>
                  <p>{{property.Description}}</p>
              </div>
          </div>




          </div>




        </tab>

<!-- Pictures Tab         -->
        <tab heading="Pictures">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>

<!-- Contact Tab -->
        <tab heading="Contact">

          <div class="row contact">

            <div class="col-sm-3 contactCol">
              <img src="assets\images\{{property.LandlordPic}}.jpg" class="card-img-top">
              <h6 class="card-title">Property Landlord</h6>
              <h6 class="text-secondary landlord-name">{{property.Landlord}}</h6>
              <span class="landlord-contact"><i class="bi bi-telephone-fill"></i> {{property.LandlordContact}}</span>

            </div>


            <div class="col-sm-9">

              <form>
                <div class="form-group">
                  <label for="property_name" class="col-form-label">Property:</label>
                  <input type="text" name="listing" class="form-control" value="{{property.Name}}" disabled>
                </div>
                <div class="form-group">
                  <label for="name" class="col-form-label">Name:</label>
                  <input type="text" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-form-label">Phone:</label>
                  <input type="text" name="phone" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea name="message" class="form-control"></textarea>
                </div>
                <hr>
                <input type="submit" value="Send" class="btn btn-block btn-secondary">
              </form>

            </div>






          </div>






          <!-- [ngClass]="{'show':showModal}" -->
          <!-- (click)="showModal=true" -->



          <!-- <div class="modal fade" id="inquiryModal" [ngClass]="{'show':showModal}" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="property_name" class="col-form-label">Property:</label>
                      <input type="text" name="listing" class="form-control" value="45 Drivewood Cirlce" disabled>
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-form-label">Email:</label>
                      <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="col-form-label">Phone:</label>
                      <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                  </form>
                </div>
              </div>
            </div>
          </div> -->


        </tab>

      </tabset>
    </div>
  </div>

</div>

