<div class="top-wrapper">

  <div class="container">

  <div class="slogan">
    <h1>Find Your Dream House</h1>
  </div>

  </div>


</div>


<!-- <div class="container">
    <div class="wrapper">
        <div class="s002">
            <form>
              <fieldset>
                <legend>SEARCH ACCOMMODATION</legend>
              </fieldset>
              <div class="inner-form">
                <div class="input-field first-wrap">
                  <div class="icon-wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                    </svg>
                  </div>
                  <input id="search" type="text" name="number_of_room" placeholder="Number of rooms" />
                </div>
                <div class="input-field second-wrap">
                    <div class="icon-wrap">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                      </svg>
                    </div>
                    <input id="search" type="text" name="price" placeholder=" $ Price Range " />
                  </div>
                  <div class="input-field third-wrap">
                    <div class="icon-wrap">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                      </svg>
                    </div>
                    <input id="search" type="text" name="location" placeholder="Location?" />
                  </div>
                  <div class="input-field fourth-wrap">
                    <div class="icon-wrap">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                      </svg>
                    </div>
                    <input id="search" type="text" name="roomsize" placeholder=" Room Size " />
                  </div>
                <div class="input-field fifth-wrap">
                  <button class="btn-search" type="button">SEARCH</button>
                </div>
              </div>
            </form>
          </div>
    </div>
</div> -->

<div class="container">
  <div class="heading">
    <h1>Featured Listings</h1>
    <hr size="1" width="45%" color="#A9A9A9">
  </div>

</div>
<app-home-product></app-home-product>



